<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                      Linked In
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                      Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                      Blob
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                      Connect
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="https://www.stschain.com" target="_blank">StsChain</a> supplychain.
        </div>
    </div>
</footer>
