

<div class="card">
  <div class="card-header card-header-accent">
    <h4 class="card-title">Contract ID: {{ productListingContract.listingtId }}</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <p class="card-category">Status: {{ productListingContract.status }}</p>
        <h3 class="card-title">Owner: {{ ownerID }}
          <!-- <small>GB</small> -->
        </h3>
      </div>

      <table *ngIf="productsExist()" class="table table-hover">
        <thead class="text-warning">
          <th>Product ID</th>
          <th>Product Quantity</th>
          <th>Product countryId</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of productListingContract.products">
            <td>{{ product.productId }}</td>
            <td>{{ product.quantity }} </td>
            <td>{{ product.countryId }}</td>
          </tr>
        </tbody>
      </table>

      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-danger">touch_app</i>
          <a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">{{ productListingContract.listingtId }}
          </a>
        </div>
      </div>
    </div>



    <div class="btn-group" appDropdown>
				<button type="button" class="btn btn-primary dropdown-toggle">
					Manage - {{ productListingContract.listingtId }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a [routerLink]="['/transferListing']">transferListing</a>
					</li>
					<li>
						<a [routerLink]="['/checkProducts']">checkProducts</a>
					</li>
					<li>
						<a [routerLink]="['/regulatorAudit']">regulatorAudit</a>
					</li>
					<li>
						<a [routerLink]="['/updateExemptedList']">updateExemptedList</a>
					</li>
				</ul>
			</div>

  </div>
</div>

