<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group" appDropdown>
				<button type="button" class="btn btn-primary dropdown-toggle">
					Manage contract - {{ productListingContract.listingtId }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a [routerLink]="['transferListing']">transferListing</a>
					</li>
					<li>
						<a [routerLink]="['checkProducts']">checkProducts</a>
					</li>
					<li>
						<a [routerLink]="['regulatorAudit']">regulatorAudit</a>
					</li>
					<li>
						<a [routerLink]="['updateExemptedList']">updateExemptedList</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<h1>Contract ID ( {{ productListingContract.listingtId }} )</h1>
			<p class="list-group-item-text">Contract Status : {{ productListingContract.status }}</p>
			<p class="list-group-item-text">Contract Owner : {{ ownerID }}</p>
			<p class="list-group-item-text">Contract Supplier : {{ supplierID }}</p>
		</div>
	</div>
	<div *ngIf="productsExist()" class="row">
		<h1>Products</h1>
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let product of productListingContract.products">
					<span>Product ID ( {{ product.productId }} )</span>
					<span>Product Quantity ( {{ product.quantity }} ) </span>
					<span>Product countryId ( {{ product.countryId }} ) </span>
				</li>
			</ul>
		</div>
	</div>
</div>


