<!-- <div class="row">
		<div class="col-xs-12">
			<div class="btn-group" appDropdown>
				<button type="button" class="btn btn-primary dropdown-toggle">
					Manage supplier
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a (click)="onAddToShoppingList()" style="cursor: pointer;">PlaceHolder</a>
					</li>
					<li>
						<a style="cursor: pointer;" (click)="onEditSupplier()">Edit supplier</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 >Company Name :</h2>
			<a>{{ supplier?.companyName }}</a>
			<h2>Company Activity </h2>
			<a>{{ supplier?.companyActivity }}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img [src]="supplier.address.locality" alt="{{ supplier.supplierId }}" class="img-responsive" style="max-height: 300px;">
		</div>
	</div>
	<div *ngIf="employeesExist()"  class="row">
		<div class="col-xs-12">
			<h1>Employees</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let employee of supplier.employees">
					{{ employee.firstName }}
				</li>
			</ul>
		</div>
	</div> -->
