<!-- <div class="row">
	<div class="col-xs-12">
		<div class="btn-group" appDropdown>
			<button type="button" class="btn btn-primary dropdown-toggle">
				Manage Partner
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a (click)="onAddToShoppingList()" style="cursor: pointer;">Engagements</a>
				</li>
				<li>
					<a style="cursor: pointer;" (click)="onEditPartner()">Activity</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
		<div class="col-xs-12">
			<h2 *ngIf="partner.url">Partner Name:</h2>
			<a>{{ partner.url }}</a>
			<h2 *ngIf="partner.description">Partner Activity </h2>
			<a> {{ partner.description }}</a>
		</div>
	</div> -->
