<!-- <div class="row">
		<div class="col-xs-12">
			<div class="btn-group" appDropdown>
				<button type="button" class="btn btn-primary dropdown-toggle">
					Manage regulator
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a (click)="onAddToShoppingList()" style="cursor: pointer;">PlaceHolder</a>
					</li>
					<li>
						<a style="cursor: pointer;" (click)="onEditRegulator()">Edit regulator</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 *ngIf="regulator.companyName">Company Name :</h2>
			<a>{{ regulator.companyName }}</a>
			<h2 *ngIf="regulator.companyActivity">Company Activity </h2>
			<a>{{ regulator.companyActivity }}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		</div>
	</div>
	<div *ngIf="employeesExist()"  class="row">
		<div class="col-xs-12">
			<h1>Employees</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let employee of regulator.Employees">
					{{ employee.firstName }}, 	{{ employee.lastName }}
				</li>
			</ul>
		</div>
	</div> -->
